@font-face {
    font-family: "SpaceMono"; 
    src: url(../fonts/SpaceMono-Regular.ttf) format("truetype");
    font-weight: 400;
    font-size: normal;
    font-display: swap;
}
@font-face {
    font-family: "SpaceMono"; 
    src: url(../fonts/SpaceMono-Bold.ttf) format("truetype");
    font-weight: 700;
    font-size: bold;
    font-display: swap;
}
@font-face {
    font-family: "SpaceMono"; 
    src: url(../fonts/SpaceMono-Italic.ttf) format("truetype");
    font-weight: 400;
    font-size: italic;
    font-display: swap;
}
*{
  box-sizing: border-box;
}
  
  body {
    margin: 0;
    background: rgb(54, 51, 51);
    color: #e1e1e1;
    font-family: "SpaceMono", monospace;
  }
  
  header {
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    color: #7f7c7c;
    font-weight: bolder;
    font-size: 24px;
  }
  
  nav {
    position: sticky;
    top: 0;
    font-weight: 500;
  
    /* Das ist dafür, dass die Navigation jederzeit anklickbar ist */
    z-index: 1;
  }

  h1, h2, h3{
    color: #7f7c7c;
  }

  a{
    color: rgb(197, 67, 197);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold
  }

  a:hover{
    color: #7f7c7c;
    background: #e1e1e1;
  }  
  
  
  footer,
  nav {
    backdrop-filter: blur(8px);
  }
  
  .teaser {
    width: 100%;
    height: 200px;
    border: solid 3px #7f7c7c;
  }
  
  @media screen and (min-width: 800px) {
    .teaser {
      height: 600px;
    }
  }
  
  .teaser img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  footer ul,
  nav ul, section ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  footer ul li,
  nav ul li, section ul li {
    padding: 16px;
  }
  
  .mitte {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
  
    /* Für Überschrift vorne */
    /* padding-top: 48px; 
    transform: translateY(-48px); */
  }

  header img{
    border-radius: 50%;
    border: double 2px #e1e1e1;
    box-shadow: 0 8px rgb(54, 51, 51);
    width: 64px;
    height: 64px;
    position: absolute;
    top: 8px;
    left: 8px;
  }

  /* .tech_stack{} */

  

  .checked{
    color: rgb(192, 101, 214);
  }

  .copyright {
    color: #e1e1e1;
    font-size: x-small;
  }

  footer > ul{
    font-size: smaller;
  }
  